.pet-like-button {
  &__label {
    display: inline-flex;
    align-items: baseline;
    gap: 0.25em;
  }

  &__count {
    font-variant-numeric: tabular-nums;
  }

  &_liked {
    svg {
      color: #ff668a;
    }
  }
}
